


.label{
    -fx-text-fill: white;
    -fx-text-inner-color: white;
    -fx-font-family: ARCADEIN;
}

.hp-bar{
    -fx-accent: #FF4500;
    -fx-box-border:#FF4500;
}

.mp-bar{
    -fx-accent: #0077b6;
    -fx-box-border:#0077b6;
}

.action-button{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-border-color: white;
    -fx-font-family: ARCADEIN;
}