@font-face {
    src: url("fonts/ARCADEIN.tff");
}
@font-face {
    src: url("fonts/ARCADEOUT.tff");
}

.title{
    -fx-font-family: "8-bit Arcade In";
    -fx-text-fill: white;
}

.txt{
    -fx-font-family: "8-bit Arcade In";
    -fx-text-fill: white;
}

.txt-warning{
    -fx-font-family: "8-bit Arcade In";
    -fx-text-fill: red;
}


.checkbox{
    -fx-font-family: "8-bit Arcade In";
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.hp-bar{
    -fx-accent: #FF4500;
    -fx-box-border:#FF4500;
}

.mp-bar{
    -fx-accent: #0077b6;
    -fx-box-border:#0077b6;
}

.dialogue-box{
    -fx-font-family: "8-bit Arcade In";
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-border-color: white;
}

.action-button{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-border-color: white;
    -fx-font-family: "8-bit Arcade In";
}